<table>
  <tr>
    <td><img src="assets/logo.jpg"></td>
    <td>
      <a routerLink="/inicio">inicio</a>&nbsp;|&nbsp;
      <a routerLink="/demos">demos</a>&nbsp;|&nbsp;
      <a routerLink="/chisme/de/hacer/numeros">calculadora</a>&nbsp;|&nbsp;
      <a routerLink="/personas">personas</a>&nbsp;|&nbsp;
      <a routerLink="/blog">blog</a>&nbsp;|&nbsp;
      <a routerLink="/pepito/grillo">pepito</a>&nbsp;|&nbsp;
      <a routerLink="/ruta/falsa">No existe</a>&nbsp;|&nbsp;
      <a href="/demos">lenta</a>&nbsp;|&nbsp;
      <a routerLink="/config">config</a>&nbsp;|&nbsp;
      <a routerLink="/config/cambia">cambia</a>&nbsp;|&nbsp;

    </td>
  </tr>
</table>
